table th,td{
    border:1px solid black;
    border-collapse: collapse;
    text-align: center;   
    padding: 5px; 
    border-radius: 5px;
}
table{
    width: 60%;
    margin-left: 285px;
}
.table1{
    margin-top: 150px;
}
th{
    background-color: rgb(25, 25, 24);
    color: white;
}